# [ARE 212] Discussion Section - Python 01

## Introduction to `Python` Discussion Sections

### Learning goals for this series of discussion sections

1.  Build off of skills we developed with `R` to provide a basic familiarity of coding in `Python` (and deepen your overall understanding of coding for econometrics in the process)
2.  Move from (potentially) no previous `Python` experience to being able to follow [lecture applications](https://datahub.berkeley.edu/user/benjaminkrause/tree/ARE212_Materials)
 and engage in [bcourses discussions](https://bcourses.berkeley.edu/courses/1487913/discussion_topics) via `Python`
 
(Note: I'm starting the numbering over so to keep things distinct from our `R` notes)

### Source Material

As before, these notes are the fruits of arduous labor of others.  My contributions are minimual -- and know that this will be much rougher than our journey thus far.  So please expect to find some code (and even explanation) errors (and assume them all to be mine). If you find any mistakes or you are knocking your head against a screen drentched in the red letters of <font color='red'>Error</font>/desperation/existential dread/rage, please [let me know](mailto:benjaminkrause@berkeley.edu) sooner rather than later.
    
The primary sources of these notes (and honestly the contributors of the real work here) are:
- Ethan and in particular his EEP 153 Notes
- [Computational and Inferential Thinking: The Foundations of Data Science](https://www.inferentialthinking.com/chapters/intro.html) which is the textbook for UC Berkeley's [Data 8: The Foundations of Data Science](http://data8.org/) course.  All of the notes, readings, labs, and assignments are fully available online as well.  For instance, here is [Spring 2020](http://data8.org/sp20/).
- [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/)

### [Wherefore](https://www.merriam-webster.com/words-at-play/wherefore-meaning-shakespeare) `R`'t thou?

I'm going to attempt to both get us up to speed on `Python` (and I do very much include myself in "us") while also ensuring that you're coming out of this class with a solid coding foundation in at least one language.  

For this reason, I'll also circulate an updated version of each of the remaining discussion sections over the next month so to ensure that you have a full set of notes for coding econometrics in `R` from this course.  

I do not expect that we'll be devoting anymore time this semester to `R` in discussion section itself, but please do know that I'll be happy to field any questions via email/zoom/passenger pigeon/smoke signals throughout the sememster as well as to [infinity and beyond](https://www.youtube.com/watch?v=2VSYmGSJtCA).  So please do not feel shy about reaching out for anything `R`, `Python`, Econometrics, ARE, or life related (I'm not always the fastest in responses . . . and frankly I know relatively little about any of these topics, but I'm always happy to muddle through together).  

In addition, if you haven't already discovered these, my very much more illustrious predecessors have their own sets of `R` notes for this class freely available on their respective websites, so know that you can always find more from [Ed Rubin](http://edrub.in/ARE212/Spring2017/notes.html) now at University of Oregon Econ and [Fiona Burlig](https://www.fionaburlig.com/teaching/are212) now at University of Chicago Harris School of Public Policy.

Finally, as we're parting with `R` (at least during discussion section), to lessen your sweet sorrow, let me again recommend [R for Data Science](https://r4ds.had.co.nz/) as it is genuinely my favorite place to practice `R`.

### Class expectations for the rest of the semester

- [Syllabus](https://github.com/ligonteaching/ARE212_Materials/blob/master/syllabus.pdf)
- Keep up with [Ethan's materials](https://github.com/ligonteaching/ARE212_Materials) hosted on [github.com](https://github.com/)
- [Discussion instead of Problem Sets](https://bcourses.berkeley.edu/courses/1487913/discussion_topics/5731445) (20% of your overall grade)
    - Interactions take place in the bcourses [Discussions](https://bcourses.berkeley.edu/courses/1487913/discussion_topics) tab
    - You are responsible to:
        - Respond to two or more of my discussion prompts.  Posting a response will "unlock" the discussion for that item for you, so you'll be able to see the rest of the discussion thread.   Please post these responses by the end of Wednesday.
        - Comment on at least three of the posts responding to the discussion prompt (i.e., comment on others comments).    A livelier discussion will result if you don't wait until the last minute (end of Sunday) to post these comments, so that there's some opportunity for dialog.
    - ". . . we just want to see that you're contributing constructively to the conversation."
- Final (30% of your overall grade)

### GSI expectations for the rest of the semester

- Office Hours are going to continue to be by appointment, and primarily via email.  (I know I owe a couple of you responses.  I hope to have you those by the end of today).
- Grades for midterm and the third problem set will be back by next week.
- Discussion Section
    - Today: establish enough of a shared foundation and vocabulary in `Python` so that
    - Starting Next Week (and for the rest of the semester): We devote this time together to walking through each of the jupyter notebooks Ethan has provided and making sure we understand each line of code.  (Clearly we'll be playing catch-up).

## Introduction to `Python`

### Learning Goals Today

1.  Open a `jupyter` notebook on `datahub.berkeley.edu`.
2.  Brief orientation to using `jupyter` notebooks
2.  Reference `R` to introduce simple `python` expressions.
3.  Introduce the various *types* of objects in `python` 
4.  Work with `pandas.DataFrames`.

### 1. Open a `jupyter` notebook on `datahub.berkeley.edu`

1. Open the website [URL to Interact](http://datahub.berkeley.edu/user-redirect/interact?account=ligon&repo=EEP153_Exercises&branch=master&path=week1.ipynb)
2. For `1. Choose your desired hub:` select `datahub.berkeley.edu`
3. Either navigate to [my github](https://github.com/bk-econ/share) page and select the `URL` of the correct section or simply copy it from right here: https://github.com/bk-econ/share/blob/master/%5BARE%20212%5D%20Discussion%20Section%20-%20Python%2001.ipynb
4. Paste the `URL` you copied in the previous step into `2. Paste the GitHub URL for your file or folder in the box below.`
5. Click `Convert to interact link!`
6. Copy the new `URL` generated in field `4. Your interact link URL will appear in the box below.`
7. Paste the new `URL` in any web browser and get to it!

(You can of course download [Python](https://www.python.org/downloads/) directly to your computer -- though you'd probably better off if you instead downloaded [Anaconda](https://www.anaconda.com/distribution/) which bundles up `Python` and key data science libraries with the Jupyter notebook environment.  However, for this class, we are going to stick exclusively to coding in [datahub](https://datahub.berkeley.edu/).)

### 2. Brief orientation to using `jupyter` notebooks

### Text cells
In a notebook, each rectangle containing text or code is called a *cell*.

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to learn Markdown, but you might want to.

After you edit a text cell, click the "run cell" button at the top that looks like ▶| or hold down `shift` + `return` to confirm any changes.

### Code cells
Other cells contain code in the Python 3 language. Running a code cell will execute all of the code it contains.

To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle.  Next, either press ▶| or hold down `shift` + `return`.

In [45]:
# This is an actual code cell (sorry to put the "Code Cells" explabnation above in a text cell)

### Writing Jupyter notebooks
You can use Jupyter notebooks for your own projects or documents.  When you make your own notebook, you'll need to create your own cells for text and code.

To add a cell, click the + button in the menu bar.  It'll start out as a text cell.  You can change it to a code cell by clicking inside it so it's highlighted, clicking the drop-down box next to the restart (⟳) button in the menu bar, and choosing "Code".  

Similarly "m" is a quick key to convert to Text Cell and "y" is a quick key to convert to Code Cell . . . and "d,d" (that is, hitting "d" twice in rapid succession) deletes a selected cell.

While we're on the subject, to help build your dexterity with `Python`, I really recommend starting to familiarize yourself with some of the shortcut keys quickly.  Here's a nice summary of [Jupyter Python Notebook Keyboard Shortcuts and Text Snippets for Beginners](http://maxmelnick.com/2016/04/19/python-beginner-tips-and-tricks.html).  You can get more details from the `Help > Keyboard Shortcuts` in the menu above.

### The Kernel
The kernel is a program that executes the code inside your notebook and outputs the results. In the top right of your window, you can see a circle that indicates the status of your kernel. If the circle is empty (⚪), the kernel is idle and ready to execute code. If the circle is filled in (⚫), the kernel is busy running some code. 

Next to every code cell, you'll see some text that says `In [...]`. Before you run the cell, you'll see `In [ ]`. When the cell is running, you'll see `In [*]`. If you see an asterisk (\*) next to a cell that doesn't go away, it's likely that the code inside the cell is taking too long to run, and it might be a good time to interrupt the kernel (discussed below). When a cell is finished running, you'll see a number inside the brackets, like so: `In [1]`. The number corresponds to the order in which you run the cells; so, the first cell you run will show a 1 when it's finished running, the second will show a 2, and so on. 

You may run into problems where your kernel is stuck for an excessive amount of time, your notebook is very slow and unresponsive, or your kernel loses its connection. If this happens, try the following steps:
1. At the top of your screen, click **Kernel**, then **Interrupt**.
2. If that doesn't help, click **Kernel**, then **Restart**. If you do this, you will have to run your code cells from the start of your notebook up until where you paused your work.
3. If that doesn't help, restart your server. First, save your work by clicking **File** at the top left of your screen, then **Save and Checkpoint**. Next, click **Control Panel** at the top right. Choose **Stop My Server** to shut it down, then **Start My Server** to start it back up. Then, navigate back to the notebook you were working on. You'll still have to run your code cells again.

### 2.  Reference `R` to introduce simple `Python` expressions.

There is a lot that is the same between `R` and `Python`, and I'm going to do my best to build off of what we have already learned.  However, out of the gates, I'm also going to be making explicit both differences coding as well as terminology.  

The good news is that comments are the same, `#`, so keep hashagging the heck out of your code (remember the "the violent psychopath who knows where you live")!

With that in mind, here are our first *expressions*.

In [1]:
# Arithmetic is like R for the most basic
1 + 1

# String and again like R either single- or double-quotes gets the job done
"Oh, we're ALREADY coding in Python!"

# Unlike R, to see output in Python, you have to explicitly call with "print"
print(1 + 1)

print("Oh," + " " + "we're" + " " + "ALREADY" + " " + "coding" + " " + "in" + " " + "Python!") # NB: "+" with strings!

5 # except for the last line in one of these cells

2
Oh, we're ALREADY coding in Python!

5

The above provides examples of:

-   **Comments:** Text that begins with a &ldquo;#&rdquo; character.
-   **Function calls:** Something that takes arguments (in parentheses)
    and returns some output.  Here &ldquo;print&rdquo; is a
    function.
-   **Objects:** 1 and &ldquo;ALREADY&rdquo; are examples of objects.
-   **Operators:** &ldquo;+&rdquo; is an operator.  Notice that it functions
    differently depending on what it&rsquo;s operating on;
    that&rsquo;s because its operation depends on the `type`
    of the objects (*operands*) it&rsquo;s operating on.  Specifically, unlike in `R`, you can use some of the arithmetic operators on strings.

In [2]:
# the + works like c()
print("Nice" + " " + "work" + "!") # NB: I have to explicitly put in the space as a separate string

# Though you can also just put them next to each other
print("Kris" " " "Kross")

# the * plus an integer is like rep( , )
print("wiggity " * 3 + "wack")

Nice work!
Kris Kross
wiggity wiggity wiggity wack

Watch out for spaces when you do exponents

In [3]:
2 * 5

10

In [4]:
2 ** 5

32

In [5]:
2 * * 5

SyntaxError: invalid syntax (<ipython-input-5-bf3d38745370>, line 1)

#### Common Operators

| Expression Type | Operator | Example    | Value     |
|-----------------|----------|------------|-----------|
| Addition        | `+`      | `2 + 3`    | `5`       |
| Subtraction     | `-`      | `2 - 3`    | `-1`      |
| Multiplication  | `*`      | `2 * 3`    | `6`       |
| Division        | `/`      | `7 / 3`    | `2.66667` |
| Remainder       | `%`      | `7 % 3`    | `1`       |
| Exponentiation  | `**`     | `2 ** 0.5` | `1.41421` |

Note that our only assignment operator in `Python` is =

This is say that we cannot use `R`'s fantastic <-

In [ ]:
x = 1
x

In [ ]:
y <- 2
y

As with `R`, names must start with a letter and can contain both letters and numbers but no spaces.  Because `.` is used for calling functions, you want to stick to either camel case or using `_` for spaces.

### Types

You've likely already noticed that the equivalent of `R`'s `class()` function in `Python` is `type()`, returning the type of object you feed it.  In addition, the class *charcater* is the type *str*, *integer* is *int*, *numeric* is *float*, and *logical* is instead *bool* -- and instead of screaming *TRUE* and *FALSE* for *logical* class objects as in `R`, 'Python' needs only the first letter to be capital, so the much quieter *True* and *False* get the job done for type *bool*.

In [ ]:
print(type("Hello"))
print(type(1+1)) 
print(type(1/3)) 
print(type(True))

For *bool* the full set of common comparison operators are just like in `R`

| Comparison         | Operator | True example | False Example |
|--------------------|----------|--------------|---------------|
| Less than          | <        | 2 < 3        | 2 < 2         |
| Greater than       | >        | 3>2          | 3>3           |
| Less than or equal | <=       | 2 <= 2       | 3 <= 2        |
| Greater or equal   | >=       | 3 >= 3       | 2 >= 3        |
| Equal              | ==       | 3 == 3       | 3 == 2        |
| Not equal          | !=       | 3 != 2       | 2 != 2        |

However, strings can also be compared, and their order is alphabetical. A shorter string is less than a longer string that begins with the shorter string.

In [44]:
"Dog" > "Catastrophe" > "Cat"

True

*Lists* work pretty much the same as in `R`, able to store multiple variable types all together in one object.

In [ ]:
# the equivalent of R:list(1,2,3)
a = [1,2,3]

# the equivalent of list("Hello","world") in R
b = ["Hello","world"]

# combine the two lists
c = a + b

# print c
print(c)

# print the "length" of c
print(len(c))  

# print the type of c
print(type(c))

One small change that may take a lot of work to get used to is that `Python`, like many programming languages, but unlike `R`, starts counting from `0`.  Just to say that more explicitly, `R` starts indexing from `1` while `Python` starts indexing from `0`.  Therefore, to reference what in `R` would be the `n` element in a list, with `Python` you need to call `n-1`.  So specifically:

In [ ]:
# Call the third element in list c
print(c[2]) 
print(b[0] * 4)

*dicts* or dictionaries, are another very basic kind of compound object (also called associative arrays or hashes in other languages).

In [ ]:
d = {'name': "Barney", 'species': "Dinosaur", 'age': 27, 'color': "Purple"}

print("{name} the {species} is {color}.")
print("{name} the {species} is {color}.".format(**d))

An additional type that really does not have an equivalent in `R` is *tuple*, we'll discuss those as they become necessary.  For now, know that a *tuple* is an unchangable vector.

### Modules

The list of [Python's built-in functions](https://docs.python.org/3/library/functions.html) is quite long.  However, probably more so than `R`, `Python` relies on you loading the appropriate *modules* (like libraries in `R`) for you to make use of it - though the total number of different *modules* is probably much less (and thus less likely to result in conflicts).  

Key libraries for data science include: 
- [NumPy](https://numpy.org/): mathematical functions, generally used to create arrays
- [SciPy](https://www.scipy.org/): scientific functions
- [Pandas](https://pandas.pydata.org/): our go-to for data manipulation (think dplyr or datatable)
- [MatPlotLib](https://matplotlib.org/): datavisualization
- [SciKit-Learn](https://scikit-learn.org/stable/): machine learning

### Help

Learning how different functions behave is an important part of learning a programming language. A Jupyter notebook can assist in remembering the names and effects of different functions. When editing a code cell, press the *tab* key after typing the beginning of a name to bring up a list of ways to complete that name. For example, press *tab* after `NumPy.` to see all of the functions available in the `NumPy` module. Typing will narrow down the list of options. To learn more about a function, place a `?` after its name.

In [14]:
# we R:library() with import followed by the name of the library you'd like
import numpy 

# use tab to see options provided by numpy
numpy.abs  # tab here

# use ? to learn more about abs
numpy.abs?

# note the suggestion that we abbreviate numpy as np
import numpy as np

# take abs() for a spin on your favorite negative number
np.abs(-5)

5

## 4. DataFrames (or how I learned to take [pandas](https://www.youtube.com/watch?v=wAEzpwvrveg) more seriously)

*For more thorough intro as well as practice, try out this* [10 minute Pandas tutorial](https://pandas.pydata.org/pandas-docs/version/0.23/10min.html). 

`Pandas` offers us a new type, the `DataFrame` (which should sound familiar).  These are basically rectangular arrays of data, with names for rows and columns, like a spreadsheet.  In fact, one important thing one can do with DataFrames is to import data *from* spreadsheets.

In [21]:
# import pandas and name it pd
import pandas as pd

# We are going to directly load a google spreadsheet by first identifying the url of the sheet
SHEET = "https://docs.google.com/spreadsheets/d/1q1ikP1CXCcLf_Tq6VbhoskOYRvn_nDU5MHStIoVzMgA"

# Then we call pandas (pd) and the . works like :: in R to indicate in which module to find "read_csv()"
### But you need to be explicit every time
# df = read_csv(SHEET + "/export?format=csv")
df = pd.read_csv(SHEET + "/export?format=csv")

# This line will show us only the first five rows of data. Try removing .head() to see the full list of items.
# Guess what happens if you replace .head() with .tail(). Try it out!
df.head()

,Food,Quantity,Units,Price,Date,Location,NDB
0,"Milk, 2% fat",1.0,gallon,4.99,[2019-09-14 Sat],"Monterey Market, Berkeley",45226447
1,"Eggs, extra large",12.0,xl_egg,3.59,[2019-09-14 Sat],"Monterey Market, Berkeley",45208918
2,Crumpets,6.0,crumpet,3.19,[2019-09-14 Sat],"Monterey Market, Berkeley",45324369
3,Bananas,1.0,pound,3.15,[2019-09-14 Sat],"Monterey Market, Berkeley",9040
4,"Carrots, Organic",2.0,pound,2.29,[2019-09-14 Sat],"Monterey Market, Berkeley",11124

In [16]:
# check the tail
df.tail()

,Food,Quantity,Units,Price,Date,Location,NDB
13,Parsnip,1.0,pound,1.98,[2019-09-14 Sat],"Monterey Market, Berkeley",11298
14,"Potato, marble mix",1.0,pound,2.59,[2019-09-14 Sat],"Monterey Market, Berkeley",45169597
15,Rhubarb,1.0,pound,1.84,[2019-09-14 Sat],"Monterey Market, Berkeley",9307
16,"Potato, russet",10.0,pound,2.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45364251
17,"Squash, Zucchini",1.0,pound,1.49,[2019-09-14 Sat],"Monterey Market, Berkeley",11477

In [17]:
# check the length
len(df)

18

In [18]:
# call the entire dataset
df

,Food,Quantity,Units,Price,Date,Location,NDB
0,"Milk, 2% fat",1.00,gallon,4.99,[2019-09-14 Sat],"Monterey Market, Berkeley",45226447
1,"Eggs, extra large",12.00,xl_egg,3.59,[2019-09-14 Sat],"Monterey Market, Berkeley",45208918
2,Crumpets,6.00,crumpet,3.19,[2019-09-14 Sat],"Monterey Market, Berkeley",45324369
3,Bananas,1.00,pound,3.15,[2019-09-14 Sat],"Monterey Market, Berkeley",9040
4,"Carrots, Organic",2.00,pound,2.29,[2019-09-14 Sat],"Monterey Market, Berkeley",11124
5,Cauliflower,2.51,pound,4.24,[2019-09-14 Sat],"Monterey Market, Berkeley",11135
6,"Endive, Red",1.26,pound,6.27,[2019-09-14 Sat],"Monterey Market, Berkeley",11213
7,"Figs, black mission",1.00,pound,4.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45170327
8,"Leeks, Organic",1.00,pound,1.29,[2019-09-14 Sat],"Monterey Market, Berkeley",11246
9,"Lettuce, Little Gem",1.00,pound,5.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45276886
10,"Mushrooms, King Oyster",1.00,pound,12.00,[2019-09-14 Sat],"Monterey Market, Berkeley",45218868
11,"Onion, yellow",1.00,pound,0.39,[2019-09-14 Sat],"Monterey Market, Berkeley",45339306
12,Orange juice,0.50,gallon,8.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45213207
13,Parsnip,1.00,pound,1.98,[2019-09-14 Sat],"Monterey Market, Berkeley",11298
14,"Potato, marble mix",1.00,pound,2.59,[2019-09-14 Sat],"Monterey Market, Berkeley",45169597
15,Rhubarb,1.00,pound,1.84,[2019-09-14 Sat],"Monterey Market, Berkeley",9307
16,"Potato, russet",10.00,pound,2.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45364251
17,"Squash, Zucchini",1.00,pound,1.49,[2019-09-14 Sat],"Monterey Market, Berkeley",11477

In [19]:
# what are the column names (R:names(df))
df.columns

Index(['Food', 'Quantity', 'Units', 'Price', 'Date', 'Location', 'NDB'], dtype='object')

In [46]:
# what about the index (rownames)
df.index

RangeIndex(start=0, stop=18, step=1)

In [48]:
# and just the data (note that it is presented as the array within the dataframe)
df.values

array([['Milk, 2% fat', 1.0, 'gallon', 4.99, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45226447, 4.99],
       ['Eggs, extra large', 12.0, 'xl_egg', 3.59, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45208918, 0.29916666666666664],
       ['Crumpets', 6.0, 'crumpet', 3.19, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45324369, 0.5316666666666666],
       ['Bananas', 1.0, 'pound', 3.15, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 9040, 3.15],
       ['Carrots, Organic', 2.0, 'pound', 2.29, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 11124, 1.145],
       ['Cauliflower', 2.51, 'pound', 4.24, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 11135, 1.6892430278884465],
       ['Endive, Red', 1.26, 'pound', 6.27, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 11213, 4.976190476190475],
       ['Figs, black mission', 1.0, 'pound', 4.98, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45170327, 4.98],
       ['Leeks, Organic', 1.0, 'pound', 1.29, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 11246, 1.29],
       ['Lettuce, Little Gem', 1.0, 'pound', 5.98, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45276886, 5.98],
       ['Mushrooms, King Oyster', 1.0, 'pound', 12.0, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45218868, 12.0],
       ['Onion, yellow', 1.0, 'pound', 0.39, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45339306, 0.39],
       ['Orange juice', 0.5, 'gallon', 8.98, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45213207, 17.96],
       ['Parsnip', 1.0, 'pound', 1.98, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 11298, 1.98],
       ['Potato, marble mix', 1.0, 'pound', 2.59, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45169597, 2.59],
       ['Rhubarb', 1.0, 'pound', 1.84, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 9307, 1.84],
       ['Potato, russet', 10.0, 'pound', 2.98, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 45364251, 0.298],
       ['Squash, Zucchini', 1.0, 'pound', 1.49, '[2019-09-14 Sat]',
        'Monterey Market, Berkeley', 11477, 1.49]], dtype=object)

In [55]:
# describe the data
df.describe()

        Quantity      Price           NDB  Unit Price
count  18.000000  18.000000  1.800000e+01   18.000000
mean    2.515000   4.012222  2.514433e+07    3.754404
std     3.336815   2.898181  2.313197e+07    4.573990
min     0.500000   0.390000  9.040000e+03    0.298000
25%     1.000000   2.057500  1.122125e+04    1.181250
50%     1.000000   3.170000  4.516996e+07    1.910000
75%     1.815000   4.987500  4.522455e+07    4.979048
max    12.000000  12.000000  4.536425e+07   17.960000

Now, what else can we do?  Let&rsquo;s figure out how much my total grocery
bill was:

In [ ]:
# find the sum of the column 'Price' in the dataframe
df['Price'].sum()

Let&rsquo;s say I&rsquo;m on a budget. Naturally, we&rsquo;d want to identify the item(s)
I&rsquo;m spending the most on. We can sort the values to investigate further.

In [22]:
# Note that we're indicating we want to sort by the 'Price' column and specify that it should be in descending order.
df.sort_values(by='Price', ascending=False).head()

,Food,Quantity,Units,Price,Date,Location,NDB
10,"Mushrooms, King Oyster",1.00,pound,12.00,[2019-09-14 Sat],"Monterey Market, Berkeley",45218868
12,Orange juice,0.50,gallon,8.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45213207
6,"Endive, Red",1.26,pound,6.27,[2019-09-14 Sat],"Monterey Market, Berkeley",11213
9,"Lettuce, Little Gem",1.00,pound,5.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45276886
0,"Milk, 2% fat",1.00,gallon,4.99,[2019-09-14 Sat],"Monterey Market, Berkeley",45226447

Everything here looks straightforward, but let&rsquo;s take a closer look at
Red Endive and calculate the price per pound to make comparison easier.

In [30]:
# Examine one column, Price
print(df['Price'])

# Use .iloc (index or integer location) to examine one element in Price
print(df.iloc[6]['Price'])

# Examine one element in Quantity
print(df.iloc[6]['Quantity'])

# This line selects the 7th item in the dataframe (note the index number is 6 because we start counting at 0 when we use Python)
# and selects the 'Price' value for this particular item. It divides it by 'Quantity' to get the price per pound.
df.iloc[6]['Price']/df.iloc[6]['Quantity']

0      4.99
1      3.59
2      3.19
3      3.15
4      2.29
5      4.24
6      6.27
7      4.98
8      1.29
9      5.98
10    12.00
11     0.39
12     8.98
13     1.98
14     2.59
15     1.84
16     2.98
17     1.49
Name: Price, dtype: float64
6.27
1.26

4.976190476190475

As I imagine you know already, unit price is a pretty useful statistic
to calculate. Let&rsquo;s do it for all the items on this grocery list. (R:mutate())

In [31]:
# This line creates a new column in our dataframe named 'Unit Price' and populates each row with the respective price value 
# divided by the quantity value.
df['Unit Price'] = df['Price']/df['Quantity']
df.head()

,Food,Quantity,Units,Price,Date,Location,NDB,Unit Price
0,"Milk, 2% fat",1.0,gallon,4.99,[2019-09-14 Sat],"Monterey Market, Berkeley",45226447,4.990000
1,"Eggs, extra large",12.0,xl_egg,3.59,[2019-09-14 Sat],"Monterey Market, Berkeley",45208918,0.299167
2,Crumpets,6.0,crumpet,3.19,[2019-09-14 Sat],"Monterey Market, Berkeley",45324369,0.531667
3,Bananas,1.0,pound,3.15,[2019-09-14 Sat],"Monterey Market, Berkeley",9040,3.150000
4,"Carrots, Organic",2.0,pound,2.29,[2019-09-14 Sat],"Monterey Market, Berkeley",11124,1.145000

Almost there! Let&rsquo;s pare down our dataframe to look more friendly to the eye. We
don&rsquo;t want to see the following columns: Date, Location, NDB. Also, we only want to see
the first five items of the dataframe. 

We&rsquo;ll use .loc which allows us to use column labels.

In [38]:
# Note that in both the .iloc and .loc syntax, the first set of parameters refer to rows and the second set refer to columns.
df.loc[0:5, ['Food', 'Quantity', 'Units', 'Price', 'Unit Price']]

                Food  Quantity    Units  Price  Unit Price
0       Milk, 2% fat      1.00   gallon   4.99    4.990000
1  Eggs, extra large     12.00   xl_egg   3.59    0.299167
2           Crumpets      6.00  crumpet   3.19    0.531667
3            Bananas      1.00    pound   3.15    3.150000
4   Carrots, Organic      2.00    pound   2.29    1.145000
5        Cauliflower      2.51    pound   4.24    1.689243

We can subset by conditions (R:filter())

In [43]:
# This line will return all rows in the dataframe where the Unit Price is < 1. Using what we've covered prior,
df[df['Unit Price'] < 1]

,Food,Quantity,Units,Price,Date,Location,NDB,Unit Price
1,"Eggs, extra large",12.0,xl_egg,3.59,[2019-09-14 Sat],"Monterey Market, Berkeley",45208918,0.299167
2,Crumpets,6.0,crumpet,3.19,[2019-09-14 Sat],"Monterey Market, Berkeley",45324369,0.531667
11,"Onion, yellow",1.0,pound,0.39,[2019-09-14 Sat],"Monterey Market, Berkeley",45339306,0.390000
16,"Potato, russet",10.0,pound,2.98,[2019-09-14 Sat],"Monterey Market, Berkeley",45364251,0.298000

### Final Word

Take some time this week to review [10 minute Pandas tutorial](https://pandas.pydata.org/pandas-docs/version/0.23/10min.html).